body{
	background-color: #B15983;
}
.survey-background{
	padding-top: 50px;
	padding-bottom: 30px;
}
.survey-title{
	margin-bottom: 30px;
}
#survey-wrapper{
	min-height: 340px;
	background-color: #fff;
	padding: 20px;
}
/*Survey form*/
#survey-form{
	
}
#survey-form .control-label{
	font-size: 18px;
}
#survey-form .option {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#survey-form .option+.option {
    margin-top: -5px;
}
/*Chailate landing styles*/
.coco-color{
	background-color: #FF3366;
	border-color: #FF3366;
}
.coco-color a{
	color: #fff;
}
a.coco-color, input.coco-color{
	border-color: #D21141;
}
a.coco-color:hover, input.coco-color:hover{
	background-color: #D21141;
	border-color: #AB0A32;
}
.chai-dark-color{
	background-color: #242424;
}
/*Footer styles*/
footer{
	padding: 30px 0;
	color: #fff;
}
footer h3{
	margin-top: 0;
}
footer a{
	color: #fff;
	text-decoration: none;
}
footer a:hover{
	color: #fff;
	text-decoration: underline;
}
footer li{
	margin-bottom: 5px;
}
.hide-footer{
	display: none;
}
.show-footer{
	display: block;
}
.footer-menu{
	margin: 0 20px;
}
.footer-contact{
	margin: 20px 0;
}
.social-footer{
	font-size: 20px;
    margin: 15px 0px;
}
.social-links a{
	text-decoration: none;
	margin-right: 10px;
}
.tw-link:hover{
	color: #1DA1F2;
}
.fb-link:hover{
	color: #3B5998;
}
.ins-link:hover{
	color: #7F44B5;
}
.invitation-message, .invitation-message a{
	color: #ccc;
}
/*survey-sent*/
.survey-sent .jumbotron{
	background-color: #fff;
}
.survey-sent a.tw-link{
	color: #1DA1F2;
}
.survey-sent a.fb-link{
	color: #3B5998;
}
.survey-sent a.ins-link{
	color: #7F44B5;
}
.survey-sent a.tw-link:hover{
	color: #1d79f2;
}
.survey-sent a.fb-link:hover{
	color: #5D92FF;
}
.survey-sent a.ins-link:hover{
	color: #9b44b5;
}
/*Tablets and smartphones*/
@media (max-width: 768px){
	.survey-sent .jumbotron{
		padding: 10px;
	}
}
.red {
    background-color: red;
}
/*dashboar styles*/
.chart-content {
	height: 300px;
	width: auto;
}
.dashboar-title{
	margin-bottom: 20px;
}
/*comments widget*/
.comments-container{
	overflow-y: scroll;
}
.comments-container li:nth-child(even), .survey-container .list-group-item:nth-child(even){
	background-color: #eee;
}
div.comments-container{
	padding: 0;
}