<form id="survey-form" action="#" method="POST" class="animated fadeIn">
  <h1 class="survey-title text-center">¡Cuentanos que te parecio trabajar juntos!</h1>
  <div class="lead">
  En chailate nos interesa mucho conocer tu opinion. Ayudanos a contestar un par de pregutas sobre nuestro servicio.</div>
  <div class="form-group">
    <label class="control-label">¿En general qué te pareció el servicio?</label>
    <div class="option">
      <a class="btn btn-default" href 
        ng-class="{'btn-success': homeCtrl.fstAnswer == 'bueno' || hoverBtnG1 }" 
        ng-mouseenter="hoverBtnG1 = true" 
        ng-mouseleave="hoverBtnG1 = false"
        ng-click="homeCtrl.fstAnswer = 'bueno';">
          <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
        Bueno
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-info': homeCtrl.fstAnswer == 'regular' || hoverBtnR1 }" 
        ng-mouseenter="hoverBtnR1 = true" 
        ng-mouseleave="hoverBtnR1 = false"
        ng-click="homeCtrl.fstAnswer = 'regular';">
        <i class="fa fa-meh-o fa-lg" aria-hidden="true"></i> 
        Regular
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-warning': homeCtrl.fstAnswer == 'malo' || HoverBtnB1 }" 
        ng-mouseenter="HoverBtnB1 = true" 
        ng-mouseleave="HoverBtnB1 = false"
        ng-click="homeCtrl.fstAnswer = 'malo';">
        <i class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
        Malo
      </a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">¿Qué te pareció el precio?</label>
    <div class="option">
      <a class="btn btn-default" href 
        ng-class="{'btn-success': homeCtrl.secAnswer == 'bueno' || hoverBtnG2 }" 
        ng-mouseenter="hoverBtnG2 = true" 
        ng-mouseleave="hoverBtnG2 = false"
        ng-click="homeCtrl.secAnswer = 'bueno';">
          <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
        Bueno
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-info': homeCtrl.secAnswer == 'regular' || hoverBtnR2 }" 
        ng-mouseenter="hoverBtnR2 = true" 
        ng-mouseleave="hoverBtnR2 = false"
        ng-click="homeCtrl.secAnswer = 'regular';">
        <i class="fa fa-meh-o fa-lg" aria-hidden="true"></i> 
        Regular
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-warning': homeCtrl.secAnswer == 'malo' || HoverBtnB2 }" 
        ng-mouseenter="HoverBtnB2 = true" 
        ng-mouseleave="HoverBtnB2 = false"
        ng-click="homeCtrl.secAnswer = 'malo';">
        <i class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
        Malo
      </a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">¿Qué te pareció la atención del personal de Chailate?</label>
    <div class="option">
      <a class="btn btn-default" href 
        ng-class="{'btn-success': homeCtrl.thirdAnswer == 'bueno' || hoverBtnG3 }" 
        ng-mouseenter="hoverBtnG3 = true" 
        ng-mouseleave="hoverBtnG3 = false"
        ng-click="homeCtrl.thirdAnswer = 'bueno';">
          <i class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
        Bueno
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-info': homeCtrl.thirdAnswer == 'regular' || hoverBtnR3 }" 
        ng-mouseenter="hoverBtnR3 = true" 
        ng-mouseleave="hoverBtnR3 = false"
        ng-click="homeCtrl.thirdAnswer = 'regular';">
        <i class="fa fa-meh-o fa-lg" aria-hidden="true"></i> 
        Regular
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-warning': homeCtrl.thirdAnswer == 'malo' || HoverBtnB3 }" 
        ng-mouseenter="HoverBtnB3 = true" 
        ng-mouseleave="HoverBtnB3 = false"
        ng-click="homeCtrl.thirdAnswer = 'malo';">
        <i class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
        Malo
      </a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">¿Nos recomendarias con tus amigos?</label>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-success': homeCtrl.fourthAnswer == 'si' || hoverYes }" 
        ng-mouseenter="hoverYes = true" 
        ng-mouseleave="hoverYes = false"
        ng-click="homeCtrl.fourthAnswer = 'si';">
          <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i>
        Sí
      </a>
    </div>
    <div class="option">
      <a class="btn btn-default" href
        ng-class="{'btn-warning': homeCtrl.fourthAnswer == 'no' || hoverNo }" 
        ng-mouseenter="hoverNo = true" 
        ng-mouseleave="hoverNo = false"
        ng-click="homeCtrl.fourthAnswer = 'no';">
        <i class="fa fa-thumbs-o-down fa-lg" aria-hidden="true"></i> 
        No
      </a>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Nos encantaría que nos dejes un comentario!!</label>
    <textarea rows="4" name="q5-comment" class="form-control" placeholder="Comentarios" ng-model="homeCtrl.commentsAnswer"></textarea>
  </div>
  <input type="button" name="btnSend" value="Enviar!" class="btn btn-primary btn-lg coco-color" ng-click="homeCtrl.saveSurvey();" />
</form>